# Importing the basic libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Displaying the link to the HTML

In [2]:
from IPython.display import display_html
display_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", raw=True)

# Storing the tabular data in the link as a list

In [3]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

# Converting the list form of the table to a dataframe itself

In [5]:
df=df[0]

In [6]:
df

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
Postal Code     180 non-null object
Borough         180 non-null object
Neighborhood    180 non-null object
dtypes: object(3)
memory usage: 4.3+ KB

# Removing all the boroughs which have "Not assigned value"

In [8]:
df=df[df['Borough']!='Not assigned']

# Grouping by postal code to combine similar neighborhoods with same postal code

In [12]:
print(df.groupby('Postal Code'))
df

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002EFCF27FE48>

,Postal Code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [13]:
df['Postal Code'].value_counts()

M1N    1
M2H    1
M9P    1
M8Y    1
M4E    1
      ..
M5B    1
M6A    1
M4A    1
M4P    1
M4H    1
Name: Postal Code, Length: 103, dtype: int64

In [18]:
df['Neighborhood'].value_counts()

Downsview                                       4
Don Mills                                       2
Brockton, Parkdale Village, Exhibition Place    1
Davisville                                      1
Dufferin, Dovercourt Village                    1
                                               ..
Weston                                          1
Roselawn                                        1
Alderwood, Long Branch                          1
Queen's Park, Ontario Provincial Government     1
First Canadian Place, Underground city          1
Name: Neighborhood, Length: 99, dtype: int64

In [19]:
df[df['Neighborhood']=='Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

# Shape of the dataframe

In [21]:
df.shape

(103, 3)