# Importing the basic libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Displaying the link to the HTML

In [2]:
from IPython.display import display_html
display_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", raw=True)

# Storing the tabular data in the link as a list

In [3]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

# Converting the list form of the table to a dataframe itself

In [4]:
df=df[0]

In [5]:
df

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
Postal Code     180 non-null object
Borough         180 non-null object
Neighborhood    180 non-null object
dtypes: object(3)
memory usage: 4.3+ KB

# Removing all the boroughs which have "Not assigned value"

In [7]:
df=df[df['Borough']!='Not assigned']

# Grouping by postal code to combine similar neighborhoods with same postal code

In [8]:
print(df.groupby('Postal Code'))
df

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E64E463C08>

,Postal Code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [9]:
df['Postal Code'].value_counts()

M7Y    1
M9M    1
M6C    1
M5X    1
M5S    1
      ..
M6L    1
M6H    1
M4W    1
M1K    1
M8Z    1
Name: Postal Code, Length: 103, dtype: int64

In [10]:
df['Neighborhood'].value_counts()

Downsview                                                                                                        4
Don Mills                                                                                                        2
Woburn                                                                                                           1
South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens    1
Parkdale, Roncesvalles                                                                                           1
                                                                                                                ..
Church and Wellesley                                                                                             1
Caledonia-Fairbanks                                                                                              1
Willowdale, Willowdale East                                                                                      1
The Danforth West, Riverdale                                                                                     1
St. James Town                                                                                                   1
Name: Neighborhood, Length: 99, dtype: int64

In [11]:
df[df['Neighborhood']=='Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

# Shape of the dataframe

In [12]:
df.shape

(103, 3)

In [18]:
import geocoder # import geocoder

def get_geo_coords(postal_code):
    # initialize your variable to None
    lat_lng_coords = None

    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng

    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude, longitude

In [20]:
geo_df=pd.read_csv("http://cocl.us/Geospatial_data")
geo_df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [22]:
df=pd.merge(df,geo_df, on='Postal Code')

In [23]:
df

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999

In [28]:
df[df['Postal Code']=='M1C']

,Postal Code,Borough,Neighborhood,Latitude,Longitude
12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497